In [ ]:
'''Here I am going to show you how to perform some basic statistics on pandas DataFrame. I am using a dataset
that I have downloaded from Kaggle - Climate Change: Earth Surface Temperatures:
https://www.kaggle.com/berkeleyearth/climate-change-earth-surface-temperature-data'''

In [1]:
import pandas as pd

In [2]:
# I read the CSV file.
temperatures = pd.read_csv("GlobalTemperatures.csv")
temperatures.head()

,dt,LandAverageTemperature,LandAverageTemperatureUncertainty,LandMaxTemperature,LandMaxTemperatureUncertainty,LandMinTemperature,LandMinTemperatureUncertainty,LandAndOceanAverageTemperature,LandAndOceanAverageTemperatureUncertainty
0,1750-01-01,3.034,3.574,NaN,NaN,NaN,NaN,NaN,NaN
1,1750-02-01,3.083,3.702,NaN,NaN,NaN,NaN,NaN,NaN
2,1750-03-01,5.626,3.076,NaN,NaN,NaN,NaN,NaN,NaN
3,1750-04-01,8.490,2.451,NaN,NaN,NaN,NaN,NaN,NaN
4,1750-05-01,11.573,2.072,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
'''I am going to use the  column. Firslty, I want to get the sum of all the values.
df.sum()
I realise that in this case, it does not really make sense to find the sum. However,
I just wanted to demonstrate how to do this.
'''

In [3]:
temperatures['LandAverageTemperature'].sum()

26631.644999999982

In [ ]:
'''By default, this function will skip the missing values. We can choose to skip or include the missing values:
skipna=True
skipna=False
'''

In [12]:
temperatures['LandAverageTemperature'].sum(skipna=True)

26631.644999999982

In [ ]:
'''I now find the artithmetic mean of the LandAverageTemperature:
df['col1'].mean()'''

In [4]:
temperatures['LandAverageTemperature'].mean()

8.374731132075466

In [ ]:
'''I can use the describe method to find some basic statistics.
df['col1'].describe()'''

In [5]:
temperatures['LandAverageTemperature'].describe()

count    3180.000000
mean        8.374731
std         4.381310
min        -2.080000
25%         4.312000
50%         8.610500
75%        12.548250
max        19.021000
Name: LandAverageTemperature, dtype: float64

In [ ]:
'''I want to count the number of values in the LandAverageTemperature column:
df['col1'].count()'''

In [6]:
temperatures['LandAverageTemperature'].count()

3180

In [ ]:
'''I want to find the maximum value in the LandAverageTemperatue:
df['col1'].max()'''

In [7]:
temperatures['LandAverageTemperature'].max()

19.021000000000001

In [ ]:
'''I now want to find the minimum value in the LandAverageTemperatue
df['col1'].min()'''

In [8]:
temperatures['LandAverageTemperature'].min()

-2.0800000000000001

In [ ]:
'''I find the median value of the Land Average Temperature:
df['col1'].median()'''

In [9]:
temperatures['LandAverageTemperature'].median()

8.610499999999998

In [ ]:
'''I can also find the mode value.
df['col1'].mode()'''

In [10]:
temperatures['LandAverageTemperature'].mode()

0    13.293
1    13.765
dtype: float64