In [ ]:
'''In this notebook, I will show how to find a correlation between two columns in pandas DataFrame.
I use my usual dataset - although it probably is not the best sample dataset as the correlations will not
mean anything.'''

In [5]:
# I import pandas
import pandas as pd
import scipy.stats

In [2]:
# I read the CSV file.
twenty15_df = pd.read_csv("Calls_for_Service_2015.csv")
twenty15_df.head()

,NOPD_Item,Type_,TypeText,Priority,MapX,MapY,TimeCreate,TimeDispatch,TimeArrive,TimeClosed,Disposition,DispositionText,BLOCK_ADDRESS,Zip,PoliceDistrict,Location
0,A0000115,56,SIMPLE CRIMINAL DAMAGE,1D,3682553,532626,01/01/2015 12:00:34 AM,01/01/2015 01:24:47 AM,01/01/2015 01:41:20 AM,01/01/2015 01:41:30 AM,UNF,UNFOUNDED,007XX Orleans Ave,70116.0,8,"(29.95850519, -90.06470624)"
1,A0000215,21,COMPLAINT OTHER,1H,3682368,532820,01/01/2015 12:00:36 AM,NaN,01/01/2015 12:00:36 AM,01/01/2015 01:31:54 AM,NAT,Necessary Action Taken,Bourbon St & Orleans Ave,70116.0,8,"(29.95904477, -90.06528204)"
2,A0000415,94,DISCHARGING FIREARM,1A,3686245,546280,01/01/2015 12:01:47 AM,01/01/2015 01:20:19 AM,NaN,01/01/2015 01:32:38 AM,UNF,UNFOUNDED,Clematis St & Acacia St,70122.0,3,"(29.99593586, -90.05256561)"
3,A0000515,107,SUSPICIOUS PERSON,2A,3687521,537825,01/01/2015 12:02:22 AM,01/01/2015 12:08:17 AM,01/01/2015 12:13:19 AM,01/01/2015 12:24:40 AM,GOA,GONE ON ARRIVAL,026XX N Robertson St,70117.0,5,"(29.97264816, -90.04883217)"
4,A0000615,21,COMPLAINT OTHER,1H,3682082,529645,01/01/2015 12:02:44 AM,NaN,NaN,01/01/2015 01:22:17 AM,VOI,VOID,003XX Canal St,70130.0,8,"(29.95032257, -90.06629572)"

In [ ]:
'''There are two ways of finding correlation in pandas. Firstly, I find the pairwise correlation
df.corr()
You will see below that any non-numeric columns are excluded from calculating correlation - this makes sense.'''

In [4]:
twenty15_df.corr()

                    MapX      MapY       Zip  PoliceDistrict
MapX            1.000000  0.999715 -0.010306        0.028274
MapY            0.999715  1.000000 -0.001584        0.030892
Zip            -0.010306 -0.001584  1.000000        0.259940
PoliceDistrict  0.028274  0.030892  0.259940        1.000000

In [ ]:
'''However, using this function does not give us the p-value. This means that I have no idea if these correlations
are statistically significant.'''

In [7]:
'''Here I pick the two columns between which I want to find the correlation.
I use the Pearson correlation'''

x = twenty15_df['MapX']
y = twenty15_df['MapY']

scipy.stats.pearsonr(x, y)

'''Here I can see both: the correlation - which is really strong and then the p-value, which indicates that
this is statistically significant.'''

(0.99971466690145094, 0.0)