In this example, I use the data on calls for service from New Orleans.
This data are available here: https://data.nola.gov/
I use the dataset from 2015. I downloaded the CSV files.

In [8]:
# I import pandas and I display the precision of floats to 2 digits.
import pandas as pd
pd.set_option('display.precision', 2)

In [3]:
# I read the CSV file.
twenty15_df = pd.read_csv("Calls_for_Service_2015.csv")

To see what columns you have in your DataFrame, use:
df.columns

In [5]:
# I read the CSV file. I want to know what columns I have.
twenty15_df.columns

Index([u'NOPD_Item', u'Type_', u'TypeText', u'Priority', u'MapX', u'MapY',
       u'TimeCreate', u'TimeDispatch', u'TimeArrive', u'TimeClosed',
       u'Disposition', u'DispositionText', u'BLOCK_ADDRESS', u'Zip',
       u'PoliceDistrict', u'Location'],
      dtype='object')

If you are wondering what type of objects you have in your DataFrame, use:
df.types

In [7]:
# I want to see what type of objects I have in the DataFrame.
# Note - object means string in pandas.
twenty15_df.dtypes

NOPD_Item           object
Type_               object
TypeText            object
Priority            object
MapX                 int64
MapY                 int64
TimeCreate          object
TimeDispatch        object
TimeArrive          object
TimeClosed          object
Disposition         object
DispositionText     object
BLOCK_ADDRESS       object
Zip                float64
PoliceDistrict       int64
Location            object
dtype: object

Viewing the entire DataFrame may not be desirable. 
df.head() - Lets you see the first 5 rows.
df.tail() - Lets you see the last 5 rows.
df.head(n) - You can see the first n rows.
df.tail(n) - You can see the last n rows.

In [9]:
# I want to see the first 3 rows of my DataFrame. If you don't pass a value, it will show first 5 rows.
twenty15_df.head(3)

,NOPD_Item,Type_,TypeText,Priority,MapX,MapY,TimeCreate,TimeDispatch,TimeArrive,TimeClosed,Disposition,DispositionText,BLOCK_ADDRESS,Zip,PoliceDistrict,Location
0,A0000115,56,SIMPLE CRIMINAL DAMAGE,1D,3682553,532626,01/01/2015 12:00:34 AM,01/01/2015 01:24:47 AM,01/01/2015 01:41:20 AM,01/01/2015 01:41:30 AM,UNF,UNFOUNDED,007XX Orleans Ave,70116.0,8,"(29.95850519, -90.06470624)"
1,A0000215,21,COMPLAINT OTHER,1H,3682368,532820,01/01/2015 12:00:36 AM,NaN,01/01/2015 12:00:36 AM,01/01/2015 01:31:54 AM,NAT,Necessary Action Taken,Bourbon St & Orleans Ave,70116.0,8,"(29.95904477, -90.06528204)"
2,A0000415,94,DISCHARGING FIREARM,1A,3686245,546280,01/01/2015 12:01:47 AM,01/01/2015 01:20:19 AM,NaN,01/01/2015 01:32:38 AM,UNF,UNFOUNDED,Clematis St & Acacia St,70122.0,3,"(29.99593586, -90.05256561)"

In [10]:
# I want to see the last 3 rows of my DataFrame. Again, if you don't pass a value, it will show the last 5 rows.
twenty15_df.tail(3)

,NOPD_Item,Type_,TypeText,Priority,MapX,MapY,TimeCreate,TimeDispatch,TimeArrive,TimeClosed,Disposition,DispositionText,BLOCK_ADDRESS,Zip,PoliceDistrict,Location
432875,L3543015,62A,"BURGLAR ALARM, SILENT",2C,3680990,530196,12/31/2015 11:59:01 PM,01/01/2016 12:01:41 AM,NaN,01/01/2016 12:33:52 AM,NAT,Necessary Action Taken,002XX Saint Charles Ave,70130.0,8,"(29.95187316, -90.06972467)"
432876,L3543115,94F,FIREWORKS,1A,3664996,518491,12/31/2015 11:59:11 PM,NaN,NaN,01/01/2016 12:48:37 AM,DUP,DUPLICATE,006XX Eleonore St,70115.0,2,"(29.92016354, -90.12061804)"
432877,L3543215,94F,FIREWORKS,1A,3673236,541500,12/31/2015 11:59:32 PM,01/01/2016 01:34:48 AM,NaN,01/01/2016 01:56:45 AM,GOA,GONE ON ARRIVAL,Sherwood Forest Dr & City Park Ave (3H02),70119.0,3,"(29.98318618, -90.09382263)"

Often, you have a number of different values within each column. If you want to see how many times each value appears,
use value_counts:
df['col1'].value_counts()

In [13]:
# This shows me how many values I have for each type of text.
twenty15_df['TypeText'].value_counts()

COMPLAINT OTHER                                            106640
TRAFFIC INCIDENT                                            52637
BURGLAR ALARM, SILENT                                       49993
DISTURBANCE (OTHER)                                         30871
SUSPICIOUS PERSON                                           17680
AUTO ACCIDENT                                               16990
WARR STOP WITH RELEASE                                      11345
DOMESTIC DISTURBANCE                                         9630
HIT & RUN                                                    8997
RETURN FOR ADDITIONAL INFO                                   8380
MUNICIPAL ATTACHMENT                                         7242
FUGITIVE ATTACHMENT                                          6778
MEDICAL                                                      6195
THEFT                                                        5603
LOST PROPERTY                                                4888
MENTAL PATIENT                                               4690
FIGHT                                                        4456
AUTO ACCIDENT WITH INJURY                                    4446
NOISE COMPLAINT                                              4420
SILENT 911 CALL                                              4256
WRECKLESS DRIVING                                            4171
SIMPLE CRIMINAL DAMAGE                                       4076
AUTO THEFT                                                   3954
SIMPLE BATTERY DOMESTIC                                      3843
SIMPLE BATTERY                                               3789
SIMPLE BURGLARY VEHICLE                                      3627
SHOPLIFTING                                                  3623
DISCHARGING FIREARM                                          2994
RESIDENCE BURGLARY                                           2503
DRUG VIOLATIONS                                              2272
                                                            ...
HIT & RUN POLICE VEHICLE                                       11
SIMPLE RAPE UNFOUNDED BY SPECIAL VICTIMS OR CHILD ABUSE        10
SIMPLE BURGLARY DOMESTIC                                        9
VIDEO VOYEURISM                                                 9
ISSUING WORTHLESS CHECKS                                        8
HOMICIDE BY CUTTING                                             8
IMPERSONATING AN OFFICER                                        8
SIMPLE RAPE MALE VICTIM                                         6
PEEPING TOM                                                     6
ELECTRONIC MONITORING ESCAPE/EVASION                            6
ORAL SEXUAL BATTERY                                             5
PROTEST                                                         5
INCIDENT REQUESTED BY ANOTHER AGENCY                            4
GAMBLING                                                        4
SHOTSPOTTER- POSSIBLE GUNSHOTS                                  4
CONTRIBUTING TO DELINQUENCY                                     3
HIT & RUN FATALITY                                              3
ABANDONED BOAT                                                  2
BLIGHTED PROPERTY                                               2
AGGRAVATED KIDNAPPING                                           2
DESECRATION OF GRAVES                                           2
CRIMINAL MISCHIEF DOMESTIC                                      1
CRIME AGAINST NATURE                                            1
FIREBOMB                                                        1
SAFE BURGLARY                                                   1
HOMICIDE DOMESTIC                                               1
ASSET SEIZURE                                                   1
PANDERING                                                       1
PUBLIC BRIBERY                                                  1
MEET AN OFFICER                                                 1
Name: TypeText, dtype: int64

You often may want to check for missing values. Again, use value count.
pd.isnull(df.col1).value_counts()

In [14]:
# I also want to check for missing values in this column. As it shows false, it means there are no missing values.
pd.isnull(twenty15_df.TypeText).value_counts()

False    432878
Name: TypeText, dtype: int64

If you are not sure what object you have (DataFrame? Series?), use type:
type(object)

In [15]:
type(twenty15_df)

pandas.core.frame.DataFrame