When doing data science in Python, you may be asked to analyse the data that's in CSV or Excel file.
You need to be able to read this file into Python. Using pandas will help you to automatically convert it into a DataFrame.

Firstly, I am going to show you how to both import and export CSV files.

dframe = pd.read_csv("file_name.csv")

In [1]:
# Importing relevant libraries.
import pandas as pd

In [2]:
# Importing a CSV file and viewing the first 5 rows.
dframe = pd.read_csv("Calls_for_Service_2015.csv")
dframe.head()

,NOPD_Item,Type_,TypeText,Priority,MapX,MapY,TimeCreate,TimeDispatch,TimeArrive,TimeClosed,Disposition,DispositionText,BLOCK_ADDRESS,Zip,PoliceDistrict,Location
0,A0000115,56,SIMPLE CRIMINAL DAMAGE,1D,3682553,532626,01/01/2015 12:00:34 AM,01/01/2015 01:24:47 AM,01/01/2015 01:41:20 AM,01/01/2015 01:41:30 AM,UNF,UNFOUNDED,007XX Orleans Ave,70116.0,8,"(29.95850519, -90.06470624)"
1,A0000215,21,COMPLAINT OTHER,1H,3682368,532820,01/01/2015 12:00:36 AM,NaN,01/01/2015 12:00:36 AM,01/01/2015 01:31:54 AM,NAT,Necessary Action Taken,Bourbon St & Orleans Ave,70116.0,8,"(29.95904477, -90.06528204)"
2,A0000415,94,DISCHARGING FIREARM,1A,3686245,546280,01/01/2015 12:01:47 AM,01/01/2015 01:20:19 AM,NaN,01/01/2015 01:32:38 AM,UNF,UNFOUNDED,Clematis St & Acacia St,70122.0,3,"(29.99593586, -90.05256561)"
3,A0000515,107,SUSPICIOUS PERSON,2A,3687521,537825,01/01/2015 12:02:22 AM,01/01/2015 12:08:17 AM,01/01/2015 12:13:19 AM,01/01/2015 12:24:40 AM,GOA,GONE ON ARRIVAL,026XX N Robertson St,70117.0,5,"(29.97264816, -90.04883217)"
4,A0000615,21,COMPLAINT OTHER,1H,3682082,529645,01/01/2015 12:02:44 AM,NaN,NaN,01/01/2015 01:22:17 AM,VOI,VOID,003XX Canal St,70130.0,8,"(29.95032257, -90.06629572)"

You can also specify the delimiter - not always will it be a comma (as in this file).
dframe = pd.read_table('file_name.csv',sep=',')

In [4]:
# Importing and viewing the first 5 rows again.
dframe = pd.read_table('Calls_for_Service_2015.csv', sep=',')
dframe.head()

,NOPD_Item,Type_,TypeText,Priority,MapX,MapY,TimeCreate,TimeDispatch,TimeArrive,TimeClosed,Disposition,DispositionText,BLOCK_ADDRESS,Zip,PoliceDistrict,Location
0,A0000115,56,SIMPLE CRIMINAL DAMAGE,1D,3682553,532626,01/01/2015 12:00:34 AM,01/01/2015 01:24:47 AM,01/01/2015 01:41:20 AM,01/01/2015 01:41:30 AM,UNF,UNFOUNDED,007XX Orleans Ave,70116.0,8,"(29.95850519, -90.06470624)"
1,A0000215,21,COMPLAINT OTHER,1H,3682368,532820,01/01/2015 12:00:36 AM,NaN,01/01/2015 12:00:36 AM,01/01/2015 01:31:54 AM,NAT,Necessary Action Taken,Bourbon St & Orleans Ave,70116.0,8,"(29.95904477, -90.06528204)"
2,A0000415,94,DISCHARGING FIREARM,1A,3686245,546280,01/01/2015 12:01:47 AM,01/01/2015 01:20:19 AM,NaN,01/01/2015 01:32:38 AM,UNF,UNFOUNDED,Clematis St & Acacia St,70122.0,3,"(29.99593586, -90.05256561)"
3,A0000515,107,SUSPICIOUS PERSON,2A,3687521,537825,01/01/2015 12:02:22 AM,01/01/2015 12:08:17 AM,01/01/2015 12:13:19 AM,01/01/2015 12:24:40 AM,GOA,GONE ON ARRIVAL,026XX N Robertson St,70117.0,5,"(29.97264816, -90.04883217)"
4,A0000615,21,COMPLAINT OTHER,1H,3682082,529645,01/01/2015 12:02:44 AM,NaN,NaN,01/01/2015 01:22:17 AM,VOI,VOID,003XX Canal St,70130.0,8,"(29.95032257, -90.06629572)"

If you have a table without column names, you can specify that you don't want to use the first row as the header by passing the argument header=None

df = pd.read_csv("file_name.csv", header=None)

In [5]:
# Example

dframe = pd.read_csv('Calls_for_Service_2015.csv',header=None)
dframe.head()

# You can see that here I get a warning - this is because the first row contains column names (which are strings)
# whereas MapX and MapY values are actually integers.

/Users/katarzynarachuta/anaconda/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2723: DtypeWarning: Columns (4,5,13,14) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,NOPD_Item,Type_,TypeText,Priority,MapX,MapY,TimeCreate,TimeDispatch,TimeArrive,TimeClosed,Disposition,DispositionText,BLOCK_ADDRESS,Zip,PoliceDistrict,Location
1,A0000115,56,SIMPLE CRIMINAL DAMAGE,1D,3682553,532626,01/01/2015 12:00:34 AM,01/01/2015 01:24:47 AM,01/01/2015 01:41:20 AM,01/01/2015 01:41:30 AM,UNF,UNFOUNDED,007XX Orleans Ave,70116,8,"(29.95850519, -90.06470624)"
2,A0000215,21,COMPLAINT OTHER,1H,3682368,532820,01/01/2015 12:00:36 AM,NaN,01/01/2015 12:00:36 AM,01/01/2015 01:31:54 AM,NAT,Necessary Action Taken,Bourbon St & Orleans Ave,70116,8,"(29.95904477, -90.06528204)"
3,A0000415,94,DISCHARGING FIREARM,1A,3686245,546280,01/01/2015 12:01:47 AM,01/01/2015 01:20:19 AM,NaN,01/01/2015 01:32:38 AM,UNF,UNFOUNDED,Clematis St & Acacia St,70122,3,"(29.99593586, -90.05256561)"
4,A0000515,107,SUSPICIOUS PERSON,2A,3687521,537825,01/01/2015 12:02:22 AM,01/01/2015 12:08:17 AM,01/01/2015 12:13:19 AM,01/01/2015 12:24:40 AM,GOA,GONE ON ARRIVAL,026XX N Robertson St,70117,5,"(29.97264816, -90.04883217)"

It is also possible to specify the number of rows to be read - for example, I only want the first 10 rows:

pd.read_csv('file_name.csv',nrows=10)

In [7]:
pd.read_csv('Calls_for_Service_2015.csv',nrows=10)

,NOPD_Item,Type_,TypeText,Priority,MapX,MapY,TimeCreate,TimeDispatch,TimeArrive,TimeClosed,Disposition,DispositionText,BLOCK_ADDRESS,Zip,PoliceDistrict,Location
0,A0000115,56,SIMPLE CRIMINAL DAMAGE,1D,3682553,532626,01/01/2015 12:00:34 AM,01/01/2015 01:24:47 AM,01/01/2015 01:41:20 AM,01/01/2015 01:41:30 AM,UNF,UNFOUNDED,007XX Orleans Ave,70116,8,"(29.95850519, -90.06470624)"
1,A0000215,21,COMPLAINT OTHER,1H,3682368,532820,01/01/2015 12:00:36 AM,NaN,01/01/2015 12:00:36 AM,01/01/2015 01:31:54 AM,NAT,Necessary Action Taken,Bourbon St & Orleans Ave,70116,8,"(29.95904477, -90.06528204)"
2,A0000415,94,DISCHARGING FIREARM,1A,3686245,546280,01/01/2015 12:01:47 AM,01/01/2015 01:20:19 AM,NaN,01/01/2015 01:32:38 AM,UNF,UNFOUNDED,Clematis St & Acacia St,70122,3,"(29.99593586, -90.05256561)"
3,A0000515,107,SUSPICIOUS PERSON,2A,3687521,537825,01/01/2015 12:02:22 AM,01/01/2015 12:08:17 AM,01/01/2015 12:13:19 AM,01/01/2015 12:24:40 AM,GOA,GONE ON ARRIVAL,026XX N Robertson St,70117,5,"(29.97264816, -90.04883217)"
4,A0000615,21,COMPLAINT OTHER,1H,3682082,529645,01/01/2015 12:02:44 AM,NaN,NaN,01/01/2015 01:22:17 AM,VOI,VOID,003XX Canal St,70130,8,"(29.95032257, -90.06629572)"
5,A0000715,94F,FIREWORKS,1A,3704519,561636,01/01/2015 12:02:46 AM,01/01/2015 12:06:21 AM,NaN,01/01/2015 12:06:32 AM,NAT,Necessary Action Taken,074XX Kenyon Rd,70127,7,"(30.03758628, -89.99427178)"
6,A0000815,94F,FIREWORKS,1A,3679489,546712,01/01/2015 12:03:09 AM,NaN,NaN,01/01/2015 12:06:53 AM,NAT,Necessary Action Taken,039XX Paris Ave,70122,3,"(29.99733030, -90.07389078)"
7,A0000915,63,PROWLER,2C,3691999,525715,01/01/2015 12:03:26 AM,01/01/2015 12:06:15 AM,01/01/2015 12:13:46 AM,01/01/2015 12:29:15 AM,GOA,GONE ON ARRIVAL,014XX Casa Calvo St,70114,4,"(29.93921295, -90.03512576)"
8,A0001015,94,DISCHARGING FIREARM,2B,3668626,532154,01/01/2015 12:03:43 AM,01/01/2015 12:07:12 AM,01/01/2015 12:09:18 AM,01/01/2015 12:15:09 AM,UNF,UNFOUNDED,College Ct & Earhart Blvd,70125,2,"(29.95762393, -90.10869788)"
9,A0001115,94,DISCHARGING FIREARM,1A,3668441,538345,01/01/2015 12:03:59 AM,01/01/2015 03:28:00 AM,NaN,01/01/2015 03:30:05 AM,UNF,UNFOUNDED,Baudin St & S Olympia St,70119,3,"(29.97465231, -90.10907539)"

It is also really easy to export the DataFrame as a CSV file - for example, after you've performed some operations on it.

dframe.to_csv("file_name.csv")

In [8]:
# Exporting the DataFrame.
dframe.to_csv("dframe.csv")

You can also specify what delimiter you want to use by adding the argument sep='delimiter'

In [10]:
# Here I decided to use a question mark for a delimiter.
dframe.to_csv("dframe.csv", sep='?')